* {
  font-family: "Poppins", "Helvetica Neue";
}

:root {
  --dark-color: #1c6771;
  --light-color: #1e9ba7;
  /** Starts rest of page after header **/
  scroll-padding-top: 80px;
}
body {
  background-color: black; /* Set site background to black*/
  max-width: 100%; /* Set max-width to 100% so site takes up width of screen*/
  height: 100%;
  color: white; /* Set text color to white unless stated otherwise*/
  overflow-x: hidden; /* Hides extra space by not showing overflow*/
}
body::-webkit-scrollbar {
  display: none;
}
/* styling for all a tags by removing underline and changing color*/
a {
  text-decoration: none;
  color: white;
}

/*** Common Styles ***/

/* Background element */
.section_background {
  position: relative;
  display: block;
  width: 90%;
  background-color: var(--dark-color);
  margin: 0 auto;
  justify-content: center;
  border-radius: 16px;
  padding: 1rem;
}

/* Button Style*/
.button {
  background-color: var(--dark-color);
  border: none;
  padding: 10px;
  margin: 1rem;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  text-decoration: none;
}
.button:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* Section Title Styling */
.line_break {
  margin: 3rem 0;
  text-align: center;
  font-size: 30px;
}
.line_break hr {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--light-color);
}
.left {
  width: 10%;
  float: left;
}
.right {
  width: 70%;
  float: right;
}
/** Header Section **/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: space-between;
  background-color: black;
  z-index: 1000;
  /* padding: 0 3rem 0 3rem; */
  /* margin: 0 1rem; */
}
.header .name {
  /* padding-left: 10px; */
}
.nav_links a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 10px;
}
.nav_links a:hover {
  color: rgba(255, 255, 255, 0.7);
  /* color: white; */
  /* background: rgba(var(--dark-color), 0.6); */
  border-radius: 16px;
}

/* Allows for site to start after height of header so all information can be seen */
.blank_header {
  top: 0;
  width: 100%;
  height: 80px;
}

/** Main Image Section **/
.main_image {
  position: relative;
}
.main_image img {
  width: 100%;
  background-size: cover;
}

/** About Me Section **/
.profile-details {
  position: relative;
  width: 90%;
  background-color: var(--dark-color);
  margin: 0 auto;
  justify-content: center;
  border-radius: 16px;
  display: flex;
  align-items: center;
  text-align: center;
}
.profile-details .info_block {
  background-color: #1e9ba7;
  width: 50%;
  border: none;
  padding: 1rem;
  border-radius: 16px;
  margin: 1rem;
}
/* Name title in About Me Section */
.profile-details h1 {
  color: white;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.36em;
  text-align: center;
  align-items: center;
}
/* paragraph section of About Me section  */
.profile-details p {
  font-size: 19px;
  text-overflow: ellipsis; /* Doesn't allow for overflow and makes text fall into ellipsis */
}

/* Section to shrink profile image  */
.profile_image_section {
  width: 50%;
}
.profile-image {
  width: 70%;
  border-radius: 2rem;
  padding: 1rem;
}

/** Projects Section **/
.project_cards {
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  position: relative;
  padding: 10px;
}

.project_card img {
  max-width: 80%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}
.project_card {
  position: relative;
}
/* Styling only the first project_card class */
/* .project_card:first-child {
  grid-column-start: 2;
  grid-column-end: 4;
  margin: 0 auto;
} */
/* Styling the last 4 project_card classes */
/* .project_card:nth-last-child(-n + 4) {
  grid-row-start: 2;
} */
.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
  opacity: 0;
  /* margin: 10px; */
  color: white;
  background-color: var(--light-color);
  border-radius: 16px;
  max-width: 80%;
}
.project_card:hover .overlay {
  opacity: 1;
}

/** Contact Me Section **/
.contact_details {
  background-color: var(--light-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: fit-content;
  align-items: center;
  padding: 1rem;
}
/* Social Media Icons Styling*/
.media_links a {
  padding: 1rem;
}
.media_links a:hover {
  color: black;
  opacity: 0.7;
}

/** Once screen size is below 992px... eseentially everything gets centered **/
@media screen and (max-width: 992px) {
  .header {
    flex-direction: column;
    justify-content: center;
    height: 150px;
  }
  .blank_header {
    height: 150px;
  }
  .profile-details {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .profile-details .info_block {
    width: 50%;
  }

  .project_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .project_card {
    margin: 0 auto;
    width: 75%;
    height: 75%;
  }
  .project_card:nth-last-child(-n + 4) {
    width: 70%;
    height: 70%;
  }

  .profile-image {
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .left {
    width: 10%;
    float: left;
  }
  .right {
    width: 50%;
    float: right;
  }
}
